@{
    // Set the layout for this view (Contains: HUD, timer and navigation)
    Layout = "~/Views/Shared/_GameLevelLayout.cshtml";

    int step = ViewBag.step ?? 0; //Current question step
    int total = ViewBag.totalSteps ?? 0; //Total number of questions in the level
    int mode = ViewBag.mode ?? 0; //Game mode (1 = gamified, 0 = non-gamified)
}
@section Styles {
    <link rel="stylesheet" href="~/css/fooddrink.css" asp-append-version="true" />
}

@if (step > 0 && total > 0)
{
    <div class="level-header">

        <h2 class="level-title">Food & Drink</h2>

        <div class="progress-hud">
            Question @step of @total
        </div>

    </div>
}

@if (mode == 1)
{
    <div class="tutorial-background colors-bg">
            <!-- LEFT -->
            <div class="colors-column">
                <div class="food-card">
                    <img src="/images/words/milk.png" />
                    <span>Ħalib</span>
                </div>

                <div class="food-card">
                    <img src="/images/words/bread.png" />
                    <span>Ħobż</span>
                </div>

                <div class="food-card">
                    <img src="/images/words/meat.png" />
                    <span>Laħam</span>
                </div>

                <div class="food-card">
                    <img src="/images/words/fish.png" />
                    <span>Ħut</span>
                </div>
            </div>

            <!-- CENTER -->
            <div class="colors-spacer"></div>

            <!-- RIGHT -->
            <div class="colors-column">
                <div class="food-card">
                    <img src="/images/words/oil.png" />
                    <span>Żejt</span>
                </div>

                <div class="food-card">
                    <img src="/images/words/salt.png" />
                    <span>Melħ</span>
                </div>

                <div class="food-card">
                    <img src="/images/words/coffee.png" />
                    <span>Kafè</span>
                </div>

                <div class="food-card">
                    <img src="/images/words/Ice Cream.png" />
                    <span>Ġelat</span>
                </div>
            </div>
    </div>
}

<div class="fooddrink-content">
    @RenderBody()
</div>