@{
    Layout = "~/Views/Shared/_GameLevelLayout.cshtml";
}
<title>Food and Drinks</title>
<link rel="stylesheet" href="~/css/fooddrink.css" asp-append-version="true" />

@if (ViewBag.Step > 0 && ViewBag.TotalSteps > 0)
{
    <div class="level-header">
        <h2 class="level-title">Food & Drink</h2>
        <div class="progress-hud">
            Question @ViewBag.Step of @ViewBag.TotalSteps
        </div>
    </div>
}

@if (ViewBag.Mode == 1)
{
    <div class="tutorial-background colors-bg">
            <!-- LEFT -->
            <div class="colors-column">
                <div class="food-card">
                    <img src="/images/words/milk.png" />
                    <span>Ħalib</span>
                </div>

                <div class="food-card">
                    <img src="/images/words/bread.png" />
                    <span>Ħobż</span>
                </div>

                <div class="food-card">
                    <img src="/images/words/meat.png" />
                    <span>Laħam</span>
                </div>

                <div class="food-card">
                    <img src="/images/words/fish.png" />
                    <span>Ħut</span>
                </div>
            </div>

            <!-- CENTER -->
            <div class="colors-spacer"></div>

            <!-- RIGHT -->
            <div class="colors-column">
                <div class="food-card">
                    <img src="/images/words/oil.png" />
                    <span>Żejt</span>
                </div>

                <div class="food-card">
                    <img src="/images/words/salt.png" />
                    <span>Melħ</span>
                </div>

                <div class="food-card">
                    <img src="/images/words/coffee.png" />
                    <span>Kafè</span>
                </div>

                <div class="food-card">
                    <img src="/images/words/Ice Cream.png" />
                    <span>Ġelat</span>
                </div>
            </div>
    </div>
}

<div class="fooddrink-content">
    @RenderBody()
</div>